/* Body style */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Ensure content container is centered and has proper margins */
.content {
    flex-grow: 1;
    padding: 0 5%; /* Use percentage to ensure responsiveness */
}

/* Headings */
h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffd5ea;
    text-shadow: 0 0 10px #ff007f, 0 0 15px #ff007f, 0 0 25px #ff007f, 0 0 50px #ff007f;
}

/* Paragraphs */
p {
    background-color: #c4c4c480;
    padding: 2%; /* Use percentage for padding */
    text-align: center;
}

/* Profile photo */
.profile-photo {
    border-radius: 50%;
    border: 2px solid #ffd5ea;
    box-shadow: 0 0 5px #ff007f, 0 0 10px #ff007f, 0 0 20px #ff007f, 0 0 40px #ff007f;
    width: 15vw; /* Use viewport width */
    height: 15vw;
    object-fit: cover;
    margin: 2% 0;
}

/* Navbar */
.navbar {
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    left: 0;
    width: 7.5%; /* Use percentage for responsive width */
    min-width: 100px; /* Set a minimum width for the navbar */
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    z-index: 10;
    transition: all 0.3s ease;
    overflow: hidden;
}

.navbar .logo {
    width: 100%;
    margin-bottom: 5%;
}

/* Toggler Styles */
.navbar-toggler {
    display: none;
    margin-bottom: 2%;
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #adadad;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #adadad;
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

/* Navigation Links */
.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-container a {
    color: #adadad;
    text-align: center;
    padding: 7% 4%; /* Use percentage for padding */
    text-decoration: none;
    font-size: 1.2rem; /* Use relative units for font size */
    width: 100%;
    box-sizing: border-box;
    transition: color 0.3s ease;
}

.nav-container a:hover {
    color: #ff007f;
}

.nav-container a:active {
    color: #00fff7;
}

/* Responsive Styles */
@media (max-width: 768px) {
    body {
        background-color: #121212;
        color: #e0e0e0;
        font-family: 'Roboto', sans-serif;
        margin-top: 35%;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .navbar {
        width: 100%;
        height: auto;
        padding-top: 1%;
    }
    .navbar .logo {
        width: 50%;
        margin-bottom: 5%;
    }

    .navbar-toggler {
        display: block;
    }

    .nav-container {
        display: none; /* Hidden by default on mobile */
        flex-direction: column;
        align-items: flex-start;
        background-color: #1e1e1e;
        width: 100%;
    }

    .nav-container.show {
        display: flex; /* Show the nav when toggled */
    }

    .nav-container a {
        padding-left: 5%;
        text-align: left;
        width: 100%;
    }
}

section {
    padding: 0% 15%; /* Use percentage for padding */
    text-align: center;
}

footer {
    background-color: #1e1e1e;
    color: #adadad;
    text-align: center;
    padding: 2%; /* Use percentage for padding */
}

footer p {
    margin: 0;
}

/* Neon glow effect for headers */
h1, h2, h3 {
    text-shadow: 0 0 10px #ff007f, 0 0 15px #ff007f, 0 0 25px #ff007f, 0 0 50px #ff007f;
}

/* Styling for Skills section */
ul {
    list-style-type: none;
    padding: 0;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item {
    display: inline-block;
    width: auto;
    padding: 2%; /* Use percentage for padding */
    margin: 1% 0;
    border: 1px solid #ff007f;
    background-color: #292929;
    text-align: center;
    transition: background-color 0.3s ease;
}

.skill-item:hover {
    background-color: #ff007f;
    color: #121212;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5%; /* Use percentage for gap */
}

.portfolio-item {
    flex: 1;
    min-width: 45%;
    padding: 2%; /* Use percentage for padding */
    margin: 2% 0;
    background-color: #292929;
    border: 1px solid #00fff7;
    text-align: center;
    box-sizing: border-box;
}

.portfolio-item:hover {
    background-color: #00fff7;
    color: #121212;
    transition: background-color 0.3s ease;
}

.portfolio-img {
    height: auto;
    width: 95%;
    margin-bottom: 2%; /* Use percentage for margin */
    border: 2px solid #ffd5ea;
    box-shadow: 0 0 2px #ff007f, 0 0 5px #ff007f, 0 0 10px #ff007f, 0 0 20px #ff007f;
}

.passion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for Passions section */
.passion-item {
    display: inline-block;
    background-color: #292929;
    border: 1px solid #ff007f;
    margin: 2% auto;
    padding: 5%;
    text-align: center;
    font-size: 1.2rem; /* Use relative units for font size */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.passion-item:hover {
    background-color: #ff007f;
    color: #121212;
    transform: scale(1.05);
}

/* Styling for Contact section */
#contact a {
    color: #00fff7;
    text-decoration: none;
    font-size: 1.2rem; /* Use relative units for font size */
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #ff007f;
}
